Source: ros-kinetic-franka-msgs
Section: misc
Priority: extra
Maintainer: Riccardo Polvara <rpolvara@lincoln.ac.uk>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-message-generation, ros-kinetic-std-msgs
Homepage: http://wiki.ros.org/franka_msgs
Standards-Version: 3.9.2

Package: ros-kinetic-franka-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-message-runtime, ros-kinetic-std-msgs
Description: franka_msgs provides messages specific to Franka Emika research robots
