Source: ros-melodic-franka-description
Section: misc
Priority: optional
Maintainer: Riccardo Polvara <rpolvara@lincoln.ac.uk>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: http://wiki.ros.org/franka_description
Standards-Version: 3.9.2

Package: ros-melodic-franka-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-xacro
Description: franka_description contains URDF files and meshes of Franka Emika robots
